.App {
  background-color: #fafafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  height: 100%;
  min-height: 95vh;
  width: 100vw;
  position: relative;
}

.footer {
  padding: 1rem;
  text-align: center;
  background-color: #fafafb;
}

.footer p {
  font-size: small;
}
